apiVersion: apps/v1
kind: Deployment
metadata:
  name: moco-controller-manager
  namespace: system
  labels:
    control-plane: moco-controller-manager
spec:
  selector:
    matchLabels:
      control-plane: moco-controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: moco-controller-manager
      annotations:
        prometheus.io/port: "8080"
    spec:
      containers:
      - name: manager
        command:
        - /moco-controller
        image: ghcr.io/cybozu-go/moco:latest
        resources:
          limits:
            cpu: 4000m
            memory: 2Gi
          requests:
            cpu: 1000m
            memory: 512Mi
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      terminationGracePeriodSeconds: 10
