apiVersion: apps/v1
kind: Deployment
metadata:
  name: moco-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: moco-controller
    {{- include "moco.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: moco-controller
      app.kubernetes.io/name: {{ include "moco.name" . }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: moco-controller
      labels:
        app.kubernetes.io/component: moco-controller
        app.kubernetes.io/name: {{ include "moco.name" . }}
    spec:
      containers:
        - env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
            initialDelaySeconds: 15
            periodSeconds: 20
          name: moco-controller
          args:
          {{- with .Values.agent.image }}
            - --agent-image
            - "{{ .repository }}:{{ .tag }}"
          {{- end }}
          {{- with .Values.fluentbit.image }}
            - --fluent-bit-image
            - "{{ .repository }}:{{ .tag }}"
          {{- end }}
          {{- with .Values.mysqldExporter.image }}
            - --mysqld-exporter-image
            - "{{ .repository }}:{{ .tag }}"
          {{- end }}
          {{- with .Values.extraArgs }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
            - containerPort: 8081
              name: health
              protocol: TCP
            - containerPort: 8080
              name: metrics
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: cert
              readOnly: true
            - mountPath: /grpc-cert
              name: grpc-cert
              readOnly: true
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ quote . }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: moco-controller-manager
      terminationGracePeriodSeconds: 10
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: moco-controller-cert
        - name: grpc-cert
          secret:
            defaultMode: 420
            secretName: moco-controller-grpc
