# replicaCount -- Number of controller replicas.
replicaCount: 2

image:
  # image.repository -- MOCO image repository to use.
  repository: ghcr.io/cybozu-go/moco

  # image.pullPolicy -- MOCO image pulling policy.
  pullPolicy: IfNotPresent

  # image.tag -- MOCO image tag to use.
  # @default -- `{{ .Chart.AppVersion }}`
  tag:  # 0.34.0

# imagePullSecrets -- Secrets for pulling MOCO image from private repository.
imagePullSecrets: []

# resources -- resources used by moco-controller.
resources:
  requests:
    cpu: 100m
    memory: 20Mi

crds:
  # crds.enabled -- Install and update CRDs as part of the Helm chart.
  enabled: true

# extraArgs -- Additional command line flags to pass to moco-controller binary.
extraArgs: []

# nodeSelector -- nodeSelector used by moco-controller.
nodeSelector: {}

# affinity -- affinity used by moco-controller.
affinity: {}

# tolerations -- tolerations used by moco-controller.
tolerations: []

# topologySpreadConstraints -- topologySpreadConstraints used by moco-controller.
topologySpreadConstraints: []

# priorityClassName -- PriorityClass used by moco-controller.
priorityClassName: ""

monitoring:
  # monitoring.enabled -- Enable monitoring configuration. Requires Prometheus (CRDs) to be installed.
  enabled: false

  podMonitors:
    # monitoring.podMonitors.enabled -- Create Prometheus pod monitors.
    enabled: true

    # monitoring.podMonitors.interval -- Custom Prometheus scrape interval.
    interval: ""

    # monitoring.podMonitors.scrapeTimeout -- Custom Prometheus scrape timeout.
    scrapeTimeout: ""

agent:
  image:
    # agent.image.repository -- MOCO Agent image repository to use.
    repository: ghcr.io/cybozu-go/moco-agent

    # agent.image.tag -- MOCO Agent image tag to use.
    tag: 0.15.0  # agent.image.tag

fluentbit:
  image:
    # fluentbit.image.repository -- FluentBit image repository to use.
    repository: ghcr.io/cybozu-go/moco/fluent-bit

    # fluentbit.image.tag -- FluentBit image tag to use.
    tag: 4.1.1.1  # fluentbit.image.tag

mysqldExporter:
  image:
    # mysqldExporter.image.repository -- mysqld_exporter image repository to use.
    repository: ghcr.io/cybozu-go/moco/mysqld_exporter

    # mysqldExporter.image.tag -- mysqld_exporter image tag to use.
    tag: 0.18.0.1  # mysqldExporter.image.tag
