[mysqld]
datadir         = /var/lib/mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
secure-file-priv= NULL

# Disabling symbolic-links to prevent assorted security risks
symbolic-links=0

!includedir /etc/mysql/conf.d/
