name: E2E CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  cache-version: 1

# CI tests with supported MySQL version.
jobs:
  dbtest:
    name: Integration tests with MySQL
    strategy:
      matrix:
        mysql-version: ["8.0.28", "8.0.43", "8.0.44", "8.0.45", "8.4.4", "8.4.8"]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Check and output changed files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        id: changed-files
        with:
          files_ignore: |
            **/*.md
            containers/**
      - uses: ./.github/actions/dbtest
        with:
          mysql-version: ${{ matrix.mysql-version }}
        if: steps.changed-files.outputs.any_changed == 'true'

  e2e:
    name: Supported Kubernetes versions End-to-End Tests
    strategy:
      matrix:
        mysql-version: ["8.4.8"]
        k8s-version: ["1.32.8", "1.33.4", "1.34.0"]
    runs-on:
      group: moco
    steps:
      - uses: actions/checkout@v6
      - name: Check and output changed files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        id: changed-files
        with:
          files_ignore: |
            **/*.md
            containers/**
      - uses: ./.github/actions/e2e
        with:
          k8s-version: ${{ matrix.k8s-version }}
          mysql-version: ${{ matrix.mysql-version }}
          name: k8s-version-e2e
        if: steps.changed-files.outputs.any_changed == 'true'

  e2e-mysql:
    name: Supported MySQL versions End-to-End Tests
    strategy:
      matrix:
        mysql-version: ["8.0.28", "8.0.43", "8.0.44", "8.0.45", "8.4.4", "8.4.8"]
        k8s-version: ["1.34.0"]
    runs-on:
      group: moco
    steps:
      - uses: actions/checkout@v6
      - name: Check and output changed files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        id: changed-files
        with:
          files_ignore: |
            **/*.md
            containers/**
      - uses: ./.github/actions/e2e
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          k8s-version: ${{ matrix.k8s-version }}
          mysql-version: ${{ matrix.mysql-version }}
          name: mysql-version-e2e

  upgrade:
    name: Upgrade Test
    runs-on:
      group: moco
    steps:
      - uses: actions/checkout@v6
      - name: Check and output changed files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        id: changed-files
        with:
          files_ignore: |
            **/*.md
            containers/**
      - uses: ./.github/actions/upgrade
        if: steps.changed-files.outputs.any_changed == 'true'

  finish-e2e:
    name: Confirm finishing all tests
    runs-on: ubuntu-22.04
    needs:
    - dbtest
    - e2e
    - e2e-mysql
    - upgrade
    steps:
      - run: echo "OK"
