name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  cache-version: 1

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true
    - name: Setup Aqua
      uses: ./.github/actions/setup-aqua
    - run: make release-build

  test:
    name: Small tests
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true
    - name: Setup Aqua
      uses: ./.github/actions/setup-aqua
    - run: make test
    - run: make check-generate
    - run: make envtest
