name: CI
on:
  pull_request:
  push:
    branches:
      - 'master'
env:
  go-version: 1.13
  cache-version: 1
jobs:
  test:
    name: Small Tests
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.go-version }}
      - name: Cache Tools
        id: cache-tools
        uses: actions/cache@v2
        with:
          path: |
            bin
          key: cache-${{ env.cache-version }}-go-${{ env.go-version }}-${{ hashFiles('Makefile') }}
      - run: make setup
        if: steps.cache-tools.outputs.cache-hit != 'true'
      - run: make validate
      - run: make start-mysqld
      - run: make test
  e2e:
    name: End-to-End Tests
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: |
          swapon > swapon.txt
          sudo swapoff -a
          cat swapon.txt | tail -n+2 | awk '$2=="file" {print $1}' | sudo xargs --no-run-if-empty rm
      - run: sudo mkdir /mnt/local-path-provisioner
      - id: run_e2e_test
        run: cd e2e && make KIND_CLUSTER_CONFIG_SUFFIX=-actions test
      - if: failure() && steps.run_e2e_test.outcome == 'failure'
        run: |
          ./e2e/bin/kubectl -n e2e-test-external describe mysqlclusters.moco.cybozu.com
          ./e2e/bin/kubectl -n e2e-test-external get statefulsets
          ./e2e/bin/kubectl -n e2e-test-external get pods
          ./e2e/bin/kubectl -n moco-system logs -lcontrol-plane=moco-controller-manager --tail=-1
          ./e2e/bin/kubectl -n e2e-test-external logs -lapp.kubernetes.io/name=moco-mysql -c agent --tail=-1
          top -b -n 1
          df -h
